.index_search
	.caja
		%h1 Sonido Basico
		.search_barra
			= form_tag search_path, method: :get, remote: true do
				= search_field_tag :buscar,'',
					placeholder: "Buscar por artista o cancion...",
					class: "searchinput", data: { provide: "typehead" },
					autocomplete: 'off'
				= button_tag 'BUSCAR', class: 'search_button'
