- @artistas.each do |artista|
	.span3
		.imagen_y_texto.clearfix
			= image_tag artista.imagen_url, class: "pull-left"				
			= link_to artista.nombre, show_artista_path(artista.nombre), remote: true
		.separating.clearfix
			.cuenta_cancion.pull-left
				%i.icon-white.icon-music
				%b= artista.canciones.count
			.mostrar_categoria.pull-right
				%i.icon-white.icon-tag
				= artista.categoria.categoria