 <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="rakuNscript:;" class="jp-play" id="p_play" tabindex="1" title="Play">
            <i class="icon-play icon-white"></i></a></li>
          <li><a href="rakuNscript:;" class="jp-pause" id="p_pause" tabindex="1" title="Pausar">
            <i class="icon-pause icon-white"></i></a></li>
          <li><a href="rakuNscript:;" class="jp-stop" id="p_stop" tabindex="1" title="Parar">
            <i class="icon-stop icon-white"></i></a></li>            
          <li><div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div></li>
          <li><a href="rakuNscript:;" class="jp-mute" id="p_mute" tabindex="1" title="Silenciar">
            <i class="icon-volume-down icon-white"></i></a></li>
          <li><a href="rakuNscript:;" class="jp-unmute" id="p_unmute" tabindex="1" title="Unsilenciar">
            <i class="icon-volume-off icon-white"></i></a></li>
          <li><a href="rakuNscript:;" class="jp-volume-max" id="p_max"tabindex="1" title="Maximo volumen"><i class="icon-volume-up icon-white"></i></a></li>
        </ul>        
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>         
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="rakuNscript:;" class="jp-repeat" id="p_repeat" tabindex="1" title="Repetir">
              <i class="icon-repeat icon-white"></i></a></li>
            <li><a href="rakuNscript:;" class="jp-repeat-off" id="p_repeat_off" tabindex="1" title="Apagar Repetir"><i class="icon-white  icon-ban-circle"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <ul>
          <li>Rakun!</li>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>